@layer global {
  /*Fonts*/

  /* roboto-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/roboto-v51-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* roboto-500 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src: url("/fonts/roboto-v51-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* roboto-600 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Roboto";
    font-style: normal;
    font-weight: 600;
    src: url("/fonts/roboto-v51-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* inter-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/inter-v20-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* inter-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/inter-v20-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* inter-800 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Inter";
    font-style: normal;
    font-weight: 800;
    src: url("/fonts/inter-v20-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* inter-800italic - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Inter";
    font-style: italic;
    font-weight: 800;
    src: url("/fonts/inter-v20-latin-800italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* inter-900 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    src: url("/fonts/inter-v20-latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /*Fonts-------------*/
  :root {
    --fs-12: calc(12 / 16 * 1rem);
    --fs-14: calc(14 / 16 * 1rem);
    --fs-16: calc(16 / 16 * 1rem);
    --fs-18: calc(18 / 16 * 1rem);
    --fs-20: calc(20 / 16 * 1rem);
    --fs-24: calc(24 / 16 * 1rem);
    --fs-32: calc(32 / 16 * 1rem);
    --fs-40: calc(40 / 16 * 1rem);
    --fs-48: calc(48 / 16 * 1rem);
    --fs-50: calc(50 / 16 * 1rem);
    --fs-64: calc(64 / 16 * 1rem);
    --fs-72: calc(72 / 16 * 1rem);
    --fs-96: calc(96 / 16 * 1rem);
    --fs-100: calc(100 / 16 * 1rem);

    --font-size-topnav: var(--fs-16);
    --font-size-h1: var(--fs-32);
    --font-size-h2: var(--fs-24);
    --font-size-h3: var(--fs-20);
    --font-size-button: var(--fs-16);

    @media (width >= calc(600 / 16 * 1rem)) {
      --font-size-h1: var(--fs-72);
      --font-size-h2: var(--fs-48);
      --font-size-h3: var(--fs-32);
      --font-size-button: var(--fs-20);
    }
  }

  /*Colors-----------*/
  :root {
    --c-green-100: #daffdf;
    --c-green-200: #a4d5ab;
    --c-green-300: #62c46f;
    --c-green-500: #0a8219;
    --c-green-700: #055910;
    --c-white: #ffffff;
    --c-black: #000000;
    --c-gray-100: #cecece;
    --c-gray-200: #949d97;
    --c-gray-500: #606762;
    --c-gray-700: #333333;
    --c-yellow-400: #ffff6a;
    --c-yellow-600: #eded26;
    --c-yellow-700: #d3af38;
    --c-red-500: #ff0000;
    --c-brown: #423400;

    /*Background Colors---------*/
    --color-bg-main: var(--c-green-100);
    --color-bg-white: var(--c-white);
    --color-bg-green: var(--c-green-500);
    --color-bg-footer: var(--c-black);

    /*Text Colors---------*/
    --color-text-dark: var(--c-black);
    --color-text-light: var(--c-white);
    --color-text-primary-green: var(--c-green-500);
    --color-text-nav-green: var(--c-green-700);
    --color-text-helper-gray: var(--c-gray-500);
    --color-text-placeholder-gray: var(--c-gray-200);
    --color-text-heading-yellow: var(--c-yellow-600);
    --color-text-heading-yellow-2: var(--c-brown);
    --color-text-error-red: var(--c-red-500);

    /*Border Colors---------*/
    --color-border-gray: var(--c-gray-100);
    --color-border-green: var(--c-green-500);
    --color-border-white: var(--c-white);

    /*Primary CTA Button Colors---------*/
    --color-button-primary-cta-bg: var(--color-bg-green);
    --color-button-primary-cta-text: var(--color-text-light);
    --color-button-primary-cta-border: var(--color-border-green);

    /*Secondary CTA Button Colors---------*/
    --color-button-secondary-cta-bg: var(--color-bg-white);
    --color-button-secondary-cta-text: var(--color-text-primary-green);
    --color-button-secondary-cta-border: var(--color-border-white);

    /*Primary Button Colors---------*/
    --color-button-primary-bg: var(--color-bg-green);
    --color-button-primary-text: var(--color-text-light);
    --color-button-primary-border: var(--color-border-green);

    /*Secondary Button Colors---------*/
    --color-button-secondary-bg: var(--color-bg-white);
    --color-button-secondary-text: var(--color-text-helper-gray);
    --color-button-secondary-border: var(--color-border-gray);

    /*Green Gradient Colors---------*/
    --color-gradient-green-1: var(--c-green-500);
    --color-gradient-green-2: var(--c-green-300);
    --color-green-gradient: linear-gradient(
      90deg,
      var(--color-gradient-green-1),
      var(--color-gradient-green-2),
      var(--color-gradient-green-1),
      var(--color-gradient-green-2),
      var(--color-gradient-green-1)
    );

    /*Yellow Gradient Colors---------*/
    --color-gradient-yellow-1: var(--c-yellow-400);
    --color-gradient-yellow-2: var(--c-yellow-700);
    --color-yellow-gradient: linear-gradient(
      90deg,
      var(--color-gradient-yellow-2),
      var(--color-gradient-yellow-1),
      var(--color-gradient-yellow-2),
      var(--color-gradient-yellow-1),
      var(--color-gradient-yellow-2)
    );
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }

  body {
    font-family: "Inter", "Roboto", Arial, Helvetica, sans-serif;
    line-height: 1.3;
    background-color: var(--color-bg-main);
    color: var(--color-text-dark);
    padding-block-end: 50vh; /*temporary*/
  }

  h1,
  h2,
  h3 {
    line-height: 1.1;
  }

  h1,
  h2,
  h3,
  p {
    text-wrap: balance;
  }

  a {
    text-decoration: none;
    color: var(--color-text-nav-green);
  }

  p {
    font-size: calc(16 / 16 * 1rem);

    &.small {
      font-size: calc(12 / 16 * 1rem);

      @media (width >= calc(600 / 16 * 1rem)) {
        font-size: calc(16 / 16 * 1rem);
      }
    }

    &.medium {
      font-size: calc(14 / 16 * 1rem);

      @media (width >= calc(600 / 16 * 1rem)) {
        font-size: calc(18 / 16 * 1rem);
      }
    }

    &.large {
      font-size: calc(16 / 16 * 1rem);

      @media (width >= calc(600 / 16 * 1rem)) {
        font-size: calc(20 / 16 * 1rem);
      }
    }
  }

  img,
  picture,
  svg {
    max-width: 100%;
    height: auto;
    display: block;
  }

  .wrapper {
    width: min(calc(100% - 48px), calc(1200 / 16 * 1rem));
    margin-inline: auto;
    padding-block: 60px;

    @media (width >=calc(1000 / 16 * 1rem)) {
      padding-block: 80px;
    }
  }

  .heading {
    text-transform: uppercase;
    -webkit-text-fill-color: var(--color-text-light);

    font-weight: 900;

    &.style__italic {
      font-style: italic;
    }

    &.color__yellow {
      -webkit-text-fill-color: var(--color-text-heading-yellow);
    }

    &.stroke__gradient {
      -webkit-text-stroke-color: transparent;
      -webkit-text-stroke-width: 8px;
      background-image: var(--color-green-gradient);
      background-clip: text;
    }
  }
}

@layer component {
  .button {
    display: inline-block;
    font-size: var(--font-size-button);
    font-weight: 600;
    padding: 12px 24px;
    border-radius: 8px;

    &.primary {
      background-color: var(--color-button-primary-bg);
      color: var(--color-button-primary-text);
      border: var(--color-button-primary-text);
    }

    &.secondary {
      background-color: var(--color-button-secondary-bg);
      color: var(--color-button-secondary-text);
      border: var(--color-button-secondary-border);
    }

    &.cta-primary {
      background-color: var(--color-button-primary-cta-bg);
      color: var(--color-button-primary-cta-text);
      border: var(--color-button-primary-cta-border);
      border-radius: 14px;
      padding: 8px 16px;
    }

    &.cta-secondary {
      background-color: var(--color-button-secondary-bg);
      color: var(--color-button-secondary-cta-text);
      border: var(--color-button-secondary-cta-border);
      border-radius: 14px;
      padding: 8px 16px;
    }
  }

  .topnav {
    .topnav__wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      padding-block: 16px;

      @media (width >= calc(600 / 16 * 1rem)) {
        padding-block: 32px;
      }
    }

    .topnav__homelink {
      &:hover {
        opacity: 0.9;
      }
    }

    .topnav__logo {
      width: calc(45 / 16 * 1rem);

      @media (width >= calc(600 / 16 * 1rem)) {
        width: calc(67 / 16 * 1rem);
      }
    }

    .topnav__links {
      display: flex;
      align-items: center;
      gap: 12px;
      list-style-type: none;
      padding: 0;

      @media (width >= calc(600 / 16 * 1rem)) {
        gap: 24px;
      }
    }

    .topnav__item {
    }

    .topnav__link {
      font-size: var(--font-size-topnav);
      font-weight: 900;
    }
  }

  .hero {
    text-align: center;

    .hero__wrapper {
      display: grid;
      align-items: center;
      justify-items: center;
      gap: 32px;
    }

    .hero__heading {
    }

    .hero__image {
      width: calc(328 / 16 * 1rem);

      @media (width >= calc(600 / 16 * 1rem)) {
        width: calc(811 / 16 * 1rem);
      }
    }

    .hero__title {
      display: flex;
      justify-content: center;
      align-items: end;
      gap: 4px;
    }

    .hero__subheading {
    }

    .hero__brands {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 16px;
      background-color: var(--color-bg-white);
      padding: 12px 16px;
      border-radius: 12px;
    }

    .hero__brand-image {
      width: calc(64 / 16 * 1rem);
    }

    .hero__buttons {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      gap: 12px;
    }
  }

  .mechanics {
    background-color: var(--color-bg-green);
    text-align: center;

    .mechanics__wrapper {
      display: grid;
    }

    .mechanics__heading {
      padding-block-end: 12px;
    }

    .mechanics__subheading {
      width: fit-content;
      margin-inline: auto;
      padding: 8px 12px;
      color: var(--color-text-heading-yellow-2);
      background-image: var(--color-yellow-gradient);
      transform: skew(-15deg);
      margin-block-end: 48px;
    }

    .mechanics__cards-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 8px;
    }

    .mechanics__card {
      display: grid;
      justify-items: center;
      gap: 20px;
      max-width: 170px;
      background-color: var(--color-bg-white);
      padding: 24px 12px;
      border-radius: 12px;
    }

    .card__number {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background-color: var(--color-bg-green);
      color: var(--color-text-light);
      font-weight: 900;
    }

    .card__title {
      text-transform: uppercase;
    }

    .card__description {
    }

    .card__image {
      &.card__buy {
        width: 133px;
        height: auto;
      }

      &.card__scratch {
        width: 116px;
        height: auto;
      }

      &.card__scan {
        width: 74px;
        height: auto;
      }

      &.card__join {
        width: 73px;
        height: auto;
      }

      &.card__win {
        width: 105px;
        height: auto;
      }
    }

    .card__footnote {
      color: var(--color-text-error-red);
      font-weight: 900;
    }
  }
}
